if loadfont "${prefix}/fonts/unicode.pf2"; then
    insmod all_video
    insmod gfxterm
    set gfxmode=auto
    terminal_input console
    terminal_output gfxterm
fi

if [ "${grub_platform}" = 'efi' ]; then
    archiso_platform='UEFI'
else
    archiso_platform="${grub_cpu}-${grub_platform}"
fi

default=amethyne
timeout=5
timeout_style=menu

menuentry "%ISO_APPLICATION% (%ARCH%, ${archiso_platform})" --class arch --class gnu-linux --class gnu --class os --id 'amethyne' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/%KERNEL_IMAGE% archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
        initrd /%INSTALL_DIR%/boot/%ARCH%/%INITRAMFS_IMAGE%
}

menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
    fwsetup
}

menuentry 'Restart' --class reboot {
    reboot
}

menuentry 'Shutdown' --class shutdown {
    halt
}
